/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dkojgz9s6/image/upload/v1719844233/CodoACodoNJS/fondotienda.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Variables de color */
:root {
  --color-primario: #000123;
  --color-secundario: #FF0F7B;
  --color-acento: #00FFC9;
  --color-textos: #f2f2f2;
  --color-negro: #101010;
  --color-neon: hsl(317 100% 54%);
}

/* Estilos del header */
header {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  flex-wrap: wrap;
}

header p {
  margin: 0;
  padding-left: 20px;
  color: var(--color-secundario);
  font-weight: bold;
  font-size: xx-large;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 1.25rem;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: var(--color-acento);
  text-decoration: none;
  font-size: clamp(1.5rem, 2.3vw, 4rem);
}

header nav ul li a:hover {
  color: #f2f2f2;
  text-shadow: 0 0 10px #f2f2f2,
               0 0 20px #f2f2f2,
               0 0 40px #f2f2f2,
               0 0 80px #f2f2f2,
               0 0 120px #f2f2f2;
}

.logotipo {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .logotipo p {
    display: none;
  }
  .logotipo img {
    margin-left: 1rem;
  }
}

/* Estilos del contenedor de juegos */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  margin: 80px 40px 60px 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  flex: 1;
  min-width: 200px;
  height: 200px;
  background-color: rgba(173, 216, 230, 0.192);
  margin: 5px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  perspective: 1000px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #00FFC9;
  font-family: outfit;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 10px;
}

.item-front, .item-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-front {
  transform: rotateY(0deg);
}

.item-back {
  transform: rotateY(180deg);
  background-color: #e09999;
}

.item.flip .item-front {
  transform: rotateY(-180deg);
}

.item.flip .item-back {
  transform: rotateY(0deg);
}

.item-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 4px;
  left: 2px;
}

.price-button-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  background-color: var(--color-primario);
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  color: var(--color-textos);
}

.buy-button {
  padding: 5px 10px;
  background-color: var(--color-secundario);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.buy-button:hover {
  background-color: var(--color-acento);
  color: var(--color-negro);
}

@media (max-width: 1200px) and (min-width: 768px) {
  .row {
    justify-content: space-between;
  }

  .item {
    flex-basis: calc(50% - 20px);
  }

  .row:nth-child(2) .item:nth-child(3),
  .row:nth-child(4) .item:nth-child(3) {
    flex-basis: calc(100% - 80px);
  }
}

@media (max-width: 767px) {
  .row {
    padding: 40px;
  }

  .item {
    flex-basis: calc(100% - 10px);
  }
}

/* Estilos del pop-up del carrito */
.cart-popup {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: outfit;
}

.cart-content {
  background-color: var(--color-negro);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  color: var(--color-textos);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #cf8989;
  text-decoration: none;
  cursor: pointer;
}

#cart-items .cart-item button.delete-button {
  background-color: var(--color-secundario);
  color: var(--texto);
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-family: outfit;
}

#cart-items .cart-item button.delete-button:hover {
  background-color: darken(var(--secundario), 10%);
}

#finalizar-compra {
  background-color: var(--color-acento);
  color: var(--color-negro);
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: outfit;
}

#finalizar-compra:hover {
  background-color: darken(var(--color-textos), 10%);
  color: var(--color-textos);
}

/* Estilos para el contador del carrito */
.cart-count {
  background-color: var(--color-secundario);
  color: var(--color-textos);
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  margin-left: 0.5em;
  position: relative;
  top: -10px;
  left: -10px;
  font-family: outfit;
}

/* Estilos del footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--color-negro);
  bottom: 0;
}

#footer .social-icons {
  display: flex;
}

#footer .social-icons a {
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  color: #00FFC9;
}

#footer .social-icons a:hover {
  color: var(--color-secundario);
}

#footer .social-icons i {
  font-size: 2em;
}
